.banner
    position: relative
    z-index: 5
    padding: 1.5rem 0  // Kept at 1.5rem as requested
    &.orange
        background: $brand-yellow

    .banner__inner
        display: flex
        align-items: center
        justify-content: center
        flex-flow: row nowrap
        
        &.centered
            flex-direction: column
            text-align: center
        
        .title
            font-weight: 300
            margin-bottom: 0.75rem  // Slightly increased margin
            font-size: 1.5rem  // Increased font size for text
        
        .button
            white-space: nowrap
            padding: 0.5rem 1rem  // Increased padding
            font-size: 0.9375rem  // Increased font size
            transition: all 0.3s ease

// Responsive styles
@media screen and (min-width: 768px)
    .banner
        .banner__inner
            &.centered
                flex-direction: row
            
            .title
                margin-bottom: 0
                margin-right: 1rem  // Increased margin
                font-size: 1.75rem  // Increased font size for text
            
            .button
                font-size: 1rem  // Increased font size

@media screen and (min-width: 1024px)
    .banner
        padding: 1.5rem 0  // Kept consistent padding for larger screens
        
        .banner__inner
            .title
                font-size: 2rem  // Increased font size for text
            
            .button
                padding: 0.625rem 1.25rem  // Slightly increased padding
                font-size: 1.0625rem  // Increased font size

.ad-container 
  display: flex
  justify-content: center
  align-items: center
  margin: 20px 0

.table-responsive
  overflow-x: auto
  margin-bottom: 1.5rem

.blog-table
  width: 100%
  border-collapse: separate
  border-spacing: 0
  margin-bottom: 1rem
  background-color: transparent

  th, td
    padding: 0.75rem
    vertical-align: middle  // Changed from top to middle
    border: 1px solid #dee2e6
    text-align: center  // Added to center text

  thead
    th
      position: sticky
      top: 0
      z-index: 2
      background-color: #f8f9fa
      font-weight: bold
      text-transform: uppercase
      border-bottom: 2px solid #dee2e6

  tbody
    tr
      &:nth-of-type(odd)
        background-color: rgba(0, 0, 0, 0.05)
      &:hover
        background-color: rgba(0, 0, 0, 0.075)

    td
      text-align: center  // Added to ensure centering in tbody cells

// Responsive styles
@media screen and (max-width: 600px)
  .table-responsive
    max-height: 70vh
    
  .blog-table
    font-size: 14px

    th, td
      min-width: 120px
      box-sizing: border-box

    thead
      th
        position: sticky
        top: 0
        z-index: 2
        background-color: #f8f9fa

    tbody
      td
        white-space: nowrap
        text-align: center  // Added to ensure centering on mobile