$menu-width: 250px

.container
  display: flex
  flex-direction: column
  min-height: 100vh

.container__body
  flex: 1
  display: flex
  flex-direction: column

.container__content
  flex: 1
  display: flex
  flex-direction: column
  padding: 0px 0  // Increase vertical padding

  // Increase spacing between direct children of container__content
  > * 
    margin-bottom: 0rem

  // Adjust spacing for specific elements
  h1, h2, h3, h4, h5, h6
    margin-top: 0.2rem
    margin-bottom: 1.5rem

  p
    margin-bottom: 1.5rem
    line-height: 1.8

  ul, ol
    margin-bottom: 1.5rem
    padding-left: 2rem

  li
    margin-bottom: 0.75rem

  // Add more space for blog post elements
  .blog-post
    > *
      margin-bottom: 2rem

    h1, h2, h3, h4, h5, h6
      margin-top: 3rem
      margin-bottom: 1.5rem

    p
      margin-bottom: 1.8rem

    ul, ol
      margin-bottom: 1.8rem

    li
      margin-bottom: 1rem

  // Remove top margin from the first child
  > *:first-child
    margin-top: 0

  // Remove bottom margin from the last child
  > *:last-child
    margin-bottom: 0

.container__mobile-header
  z-index: 10

.logo-text
  font-family: Goldman
  font-size: 20px
  text-transform: uppercase
  font-weight: bold
  text-decoration: none
  color: white
  a
    color: white

.container
  display: flex
  flex-direction: column
  min-height: 100vh

.container__body
  flex: 1
  display: flex
  flex-direction: column

.container__content
  flex: 1
  display: flex
  flex-direction: column

@media screen and (max-width: 899px)
  .container__sidebar
    box-sizing: border-box
    width: $menu-width
    height: 100%
    position: fixed
    top: 0
    right: 0
    bottom: 0
    z-index: 2
    transform: translate3d($menu-width, 0, 0)
    transition: transform 0.2s ease-in-out
    padding: 20px
    background-color: $brand-blue
    color: white

    .container.is-open &
      transform: translate3d(0px, 0, 0)

  .container__body
    transform: translate3d(0px, 0, 0)
    transition: transform 0.2s ease-in-out

    .container.is-open &
      transform: translate3d(-$menu-width, 0, 0)

  .container__desktop-nav
    display: none

  .container__mobile-header
    position: absolute
    width: 100%

@media screen and (min-width: 900px)

  .container__mobile-header, .container__sidebar
    display: none

  .container__desktop-nav
    display: block
    position: absolute
    width: 100%
    top: 0
    z-index: 10

// Add this new style to remove any extra space at the bottom
.container__content > *:last-child
  margin-bottom: 0
