$flex-basis: 330px
$flex-gutter: 15px

.flex-grid
    display: flex
    flex-flow: row wrap
    margin-left: -$flex-gutter
    margin-right: -$flex-gutter
    [class*="flex"]
        margin-top: $flex-gutter
        flex-basis: $flex-basis
        margin-right: $flex-gutter
        margin-left: $flex-gutter
        &.two-wide
            flex-basis: 400px
        &.small-image
            flex-basis: 200px

    .flex1
        flex-grow: 1
        flex-shrink: 1
    .flex2
        flex-grow: 2
        flex-shrink: 2
    .flex3
        flex-grow: 3
        flex-shrink: 3
    .flex4
        flex-grow: 4
        flex-shrink: 4
    .flex5
        flex-grow: 5
        flex-shrink: 5

@media screen and (max-width: 899px)
    .flex-grid
        [class*="flex"]
            &.mobile-hidden
                display: none
.flex-grid
  .flex1
    .card
      height: 100%
      display: flex
      flex-direction: column

      &__image
        flex: 0 0 200px
        position: relative
        overflow: hidden

        .gatsby-image-wrapper
          position: absolute !important
          top: 0
          left: 0
          width: 100%
          height: 100%

          img
            object-fit: cover
            object-position: center
            width: 100%
            height: 100%

      &__caption
        flex: 1
        padding: 1rem
        display: flex
        flex-direction: column

        .card__title
          margin-bottom: 0.5rem

        .card__date
          font-size: 0.9rem
          color: #666
          margin-bottom: 0.5rem
          line-height: 1

        .card__description
          flex: 1
          overflow: hidden
          display: -webkit-box
          -webkit-line-clamp: 3
          -webkit-box-orient: vertical
          text-overflow: ellipsis

@media (max-width: 768px)
  .flex-grid
    .flex1
      margin-bottom: 1rem
