.marketing-card
    display: flex
    flex-flow: row nowrap
    margin-bottom: 1rem
    .body
        display: flex
        flex-flow: column nowrap
    
    .icon
        color: $brand-orange
        border: 1px solid $brand-orange
        display: flex
        padding: 1rem
        font-size: 1.7rem
        border-radius: 50%
        width: 6rem
        height: 2rem
        text-align: center
        justify-content: center
        align-items: center
        margin-right: 15px

    .title
        font-size: 1.5rem
        margin-bottom: .5rem
    .text
        font-weight: 300
