.pagination
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  gap: 0.5rem
  margin-top: 2rem
  margin-bottom: 2rem

  &__button
    position: relative
    padding: 0.55rem 1.5rem
    font-size: 14px
    border-radius: 2px
    cursor: pointer
    overflow: hidden
    transition: 0.1s ease-in-out
    z-index: 1
    background: none
    border: 1px solid #4F4F4F
    color: #4F4F4F

    &:hover
      color: white
      background-color: #4F4F4F

    &:disabled
      opacity: 0.5
      cursor: not-allowed
      &:hover
        color: #4F4F4F
        background-color: transparent

    &--active
      background: #4F4F4F
      color: white

@media screen and (min-width: 480px)
  .pagination
    &__button
      padding: 0.625rem 1rem
      font-size: 1rem

// Remove the media query for larger screens since

.post-navigation
  display: flex
  justify-content: space-between
  margin-top: 2rem
  gap: 1rem

  &__button
    position: relative
    padding: 0.55rem 1.5rem
    border-radius: 2px
    font-size: 14px
    cursor: pointer
    overflow: hidden
    transition: 0.1s ease-in-out
    z-index: 1
    flex: 0 1 48%
    display: flex
    flex-direction: column
    text-decoration: none
    color: $brand-blue
    border: 1px solid $brand-blue
    background: none

    &:after
      content: ''
      position: absolute
      bottom: -1px
      left: -10%
      height: 120%
      width: 0
      transform: skewX(-30deg)
      z-index: -1
      transition: .2s ease-in-out
      background: $brand-blue

    &:hover
      color: white
      &:after
        left: -10%
        width: 125%

    &--prev
      text-align: left
      margin-right: auto

    &--next
      text-align: right
      margin-left: auto

  &__direction
    font-size: 0.9rem
    font-weight: bold
    margin-bottom: 0.5rem
    position: relative
    z-index: 2

  &__title
    font-size: 1rem
    position: relative
    z-index: 2

  &__button--prev
    .post-navigation__direction
      &::before
        content: "←"
        margin-right: 0.5rem

  &__button--next
    .post-navigation__direction
      &::after
        content: "→"
        margin-left: 0.5rem

@media (max-width: 767px)
  .post-navigation
    flex-direction: column

    &__button
      flex: 1 1 auto
      margin-bottom: 1rem
      margin-left: 0
      margin-right: 0

    &__direction
      font-size: 0.8rem

    &__title
      font-size: 0.9rem