blockquote
  position: relative
  font-size: 1.2em
  font-style: italic
  color: #333
  background: #f9f9f9
  border-left: 5px solid #e2bc4a
  margin: 1.5em 10px
  padding: 1em 20px 2px 30px
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1)
  
  &::before
    content: "\201C"
    font-family: Montserrat, serif
    font-size: 4em
    position: absolute
    left: -10px
    top: -20px
    color: #c6a1349c
    opacity: 0.5
  
  p
    margin-bottom: 0
    line-height: 1.6
  
  cite
    display: block
    margin-top: 10px
    font-size: 0.9em
    color: #666
    font-style: normal
    
    &::before
      content: "\2014 \2009"

  &:hover
    transform: scale(1.02)
    transition: transform 0.3s ease
