.desktop-header
    padding: 15px 30px
    display: flex
    align-items: center
    justify-content: space-between
    .desktop-nav__menu
        color: white
        display: flex
        flex-flow: row nowrap
        align-items: center
        > *
            margin: 0 10px
        a
            text-decoration: none
            color: white
                


        